.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailsBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.inStock {
  border: 1px solid var(--border);
  border-radius: 50px;
  padding: 0.3rem 1.2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.greenDot {
  width: 5px;
  height: 5px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}

.price {
  font-size: 2.5rem;
  line-height: 1;
}

.strikethrough {
  font-size: 2.5rem;
  text-decoration: line-through;
  color: var(--black);
  font-family: var(--pretendard);
  opacity: 0.5;
}

.discountedPrice {
  font-size: 2.5rem;
  font-family: var(--pretendard);
  color: var(--black);
}
