.heading {
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 350px;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border: 1px solid var(--blackiv);
  z-index: 1;
  border-radius: 15px;
}

.categoryBtn {
  text-align: center;
  
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (max-width: 668px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 350px;
  }
}
