.top {
  border-top: 3rem solid var(--black);
  border-radius: 4px;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.heading {
  font-size: 10vw;
}

.copy {
  max-width: 245px;
}

.btnContainer {
  margin-top: 3rem;
}

.dataBox {
  list-style: none;
}

.title {
  font-family: var(--barlowCondensed);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.index {
  display: block;
}

@media screen and (max-width: 1068px) {
  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    max-width: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .btnContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .top {
    margin-bottom: 3rem;
  }

  .heading {
    margin-bottom: 2rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
