.top {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  width: 10%;
}

.heading {
  width: 30%;
}

.shopAll {
  color: var(--red);
  text-decoration: underline;
  font-size: 2.4rem;
  font-family: var(--barlowCondensed);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-decoration: underline;
  display: inline-block;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--border);
  border-right: none;
  border-bottom: none;
  grid-auto-rows: 1fr;
}

.viewAllParent {
  background-color: var(--red);
  border-right: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  text-transform: uppercase;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  transition: all 0.2s ease-in;
  height: auto;
  min-height: 100%;
}

.content > * {
  height: 100%;
}

.viewAllParent:hover {
  background-color: var(--gray);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.viewAllTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.arrow {
  width: 7rem;
  height: 7rem;
  color: var(--white);
  transform: rotate(45deg);
  transition: all 0.2s ease-in;
}

.viewAllTitle {
  font-size: 7rem;
  font-weight: 800;
  line-height: 85%;
  letter-spacing: -2px;
  font-family: var(--barlowCondensed);
  color: var(--white);
  transition: all 0.2s ease-in;
}

.viewAllParent:hover .viewAllTitle,
.viewAllParent:hover .arrow {
  color: var(--black);
}

.btnContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .heading {
    text-align: center;
  }

  .title {
    text-align: center;
    width: 100%;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
