.top {
  margin-bottom: 3rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 445px;
}

.img {
  object-fit: cover;
}
