.container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 4rem 0;
  /* Higher z-index than the overlay */
  z-index: 10;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 5;
}

.contentChildren {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
  height: 100%;
}

.heading {
  color: white;
  font-size: clamp(3rem, 10vw, 8rem);
  margin: 2rem 0;
}