.container {
  background-color: var(--black);
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid var(--border2);
}

.section1,
.section2,
.section3 {
  border-right: 1px solid var(--border2);
  padding-left: 2rem;
}

.section3 {
  border-right: none;
}

.titleBox {
  list-style: none;
}

.title {
  color: var(--white);
  opacity: 0.5;
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: var(--barlowCondensed);
}

.h3Heading {
  color: var(--white);
  font-weight: 700;
  line-height: 105%;
  margin-bottom: 3rem;
}

.optionBox {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.option {
  font-size: 1.6rem;
  color: var(--white);
  opacity: 0.5;
}

.iconMap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.iconBox {
  padding: 4rem;
  border: 1px solid var(--border2);
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBox:nth-child(2),
.iconBox:nth-child(4) {
  border-right: none;
}

.iconBox:nth-child(1),
.iconBox:nth-child(3) {
  border-left: 1px solid var(--border2);
}

.iconBox:nth-child(3),
.iconBox:nth-child(4) {
  border-bottom: none;
}

.iconContainer {
  background-color: #1c1c1c;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--white);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.middleLeft,
.middleMiddle,
.middleRight {
  padding: 2rem;
  padding-bottom: 3rem;
}

.middleLeft,
.middleMiddle {
  border: 1px solid var(--border2);
  border-top: none;
}

.middleRight {
  border-bottom: 1px solid var(--border2);
}

.middleLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  border-left: none;
}

.directions {
  color: var(--white);
  text-decoration: underline;
}

.hoursBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.openingHours {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 0.5rem 2rem;
}

.date {
  color: var(--white);
}

.date span {
  display: block;
  opacity: 0.5;
  margin-top: 0.5rem;
}

.middleMiddle,
.middleContent,
.middleRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bottom {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10rem;
}

.bottomLeft small,
.bottomRight small {
  color: var(--white);
  opacity: 0.5;
}

.bottomRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@media screen and (max-width: 1200px) {
  .hoursBox {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1068px) {
  .top,
  .middle {
    grid-template-columns: repeat(2, 1fr);
  }

  .middleRight {
    grid-column: span 2;
    padding: 5rem;
  }

  .section1,
  .section2 {
    border-bottom: 1px solid var(--border2);
    padding-bottom: 2rem;
  }

  .section3 {
    padding-top: 3rem;
  }

  .iconBox:nth-child(2),
  .iconBox:nth-child(4) {
    border-right: 1px solid var(--border2);
  }

  .hoursBox {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 870px) {
  .bottom {
    margin-bottom: -5rem;
  }
}


@media screen and (max-width: 568px) {
  .top,
  .middle {
    grid-template-columns: repeat(1, 1fr);
  }

  .middleRight {
    grid-column: span 1;
    border-left: 1px solid var(--border2);
    border-right: 1px solid var(--border2);
  }

  .middleMiddle,
  .middleRight {
    padding: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section1 {
    padding-top: 2rem;
    border-top: 1px solid var(--border2);
    border-left: 1px solid var(--border2);
  }
  .section2 {
    padding-top: 3rem;
    border-left: 1px solid var(--border2);
  }

  .section3 {
    border-left: 1px solid var(--border2);
    border-right: 1px solid var(--border2);
    border-bottom: 1px solid var(--border2);
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .bottom,
  .bottomRight {
    flex-direction: column;
    gap: 1rem;
  }
}
